<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink=""><i
                    class="bi bi-heart-pulse-fill m-2  p-2 text-white"></i>HealthClub</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="viewapp">View Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="placeapp">Place Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>