<p>home works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Showcase -->
    <section class="container-fluid my-5">
        <section class="bg-light text-dark pt-2 text-center text-sm-start pt-5 pb-5"
            style="height: 50vh; max-height:50vh;">
            <div class="container">
                <div class="d-sm-flex align-item-center justify-content-between">
                    <div class="">
                        <h1>Welcome to <span class="text-warning"> Health Club </span></h1>
                        <p class="lead my-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quos.
                        </p>
                        <p class="lead my-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quae deleniti? Voluptatum ratione excepturi error aperiam quasi qui? Repellat, eligendi.
                        </p>        
                        <app-placebutton></app-placebutton>     
                    </div>
                    <img src="assets/healthcheck.png" alt="" class="image-fluid w-50 d-none d-sm-block">
                </div>
            </div>
        </section>
    </section>
</body>

</html>
